<mat-toolbar>
    Weather App - developed by Macaj Manuel
</mat-toolbar>
<div class="content">
    <div class="cardLayout">
        <div class="items">
            <mat-form-field appearance="outline" class="inputField">
                <mat-label>Inserisci la città</mat-label>
                <input matInput [formControl]="citySelected">
                <mat-error>{{getFieldError()}}</mat-error>
            </mat-form-field>
            <button mat-fab color="warn" (click)="searchCity()" [disabled]="citySelected.invalid">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
    <div class="weather">
        <router-outlet></router-outlet>
    </div>
</div>