<mat-card *ngIf="datiRicevuti | async as data">
    <mat-card-header>
        <mat-card-title>
            Meteo di: {{data.name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{data.dt*1000 | date: "dd/M/YYYY, H:mm"}}
            <!-- conversione da unix timestamp in Date-->
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="gridLayout">
        <span class="temp">{{data.main.temp | number: "1.0-0"}}°C</span>
        <p class="description">{{data.weather[0].description | titlecase}}</p>
        <span class="maxTemp">Max: {{data.main.temp_max | number: "1.0-0"}}°C</span>
        <span class="humidity">Umidità: {{data.main.humidity}}%</span>
        <span class="minTemp">Min: {{data.main.temp_min | number: "1.0-0"}}°C</span>
        <span class="wind">Vento: {{data.wind.speed}}Km</span>
        <span class="sunrise">Alba: {{data.sys.sunrise*1000 | date: "H:mm"}}</span>
        <span class="sunset">Tramonto: {{data.sys.sunset*1000 | date: "H:mm" }}</span>
    </mat-card-content>
</mat-card>