<mat-card *ngIf="datiRicevuti | async as data">
    <mat-card-header>
        <mat-card-title>
            Meteo di: {{data.name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{today | date: "medium"}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="gridLayout">
        <span class="temp">{{data.main.temp}}°C</span>
        <div class="description">
            <p>{{data.weather[0].description | titlecase}}</p>
        </div>
        <span class="maxTemp">Max: {{data.main.temp_max}}°C</span>
        <span class="humidity">Umidità: {{data.main.humidity}}%</span>
        <span class="minTemp">Min: {{data.main.temp_min}} °C</span>
        <br>
    </mat-card-content>
</mat-card>