mat-card {
    margin: 50px auto;

}

.gridLayout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
}

.temp {
    grid-column: 2/3;
    grid-row: 1;
    font-size: x-large;

}

.description {
    grid-column: 2;
    grid-row: 2;
    font-weight: bold;
}

.maxTemp {
    grid-column: 1;
    grid-row: 3;
}

.minTemp {
    grid-column: 3;
    grid-row: 3;
}

.humidity {
    grid-column: 2;
    grid-row: 3;
}

.wind {
    grid-column: 1;
    grid-row: 4;
}

.sunrise {
    grid-column: 2;
    grid-row: 4;
}

.sunset {
    grid-column: 3;
    grid-row: 4;
}

.image {
    margin: 0 auto;
    grid-column: 2;
    grid-row: 1;
    width: 6em;
    height: 6em;
}